.DS_Store
node_modules/
www/
firebase-debug.log
firebase-debug.*.log
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
firebase_config.local.js
functions/node_modules/
functions/.runtimeconfig.json
functions/students.json
functions/students.*.json
!functions/students.sample.json
functions/service-account*.json
